body {
    background-image: url(web_background_img.png);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 0;
}
a {
    color: 64,64,64;
}
img {
    float: left;
}
img:hover {
    opacity: 60%;
}
.homelist {
    list-style: none; 
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
ul {
    list-style: none;
}
#collapse:hover {
    background-color: gray;
}
#collapse {
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
}